/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

body{
    font-family: 'Josefin Sans', sans-serif;
}

/* button */
.btn-explore{
    background-color: #27DEBF !important;
    border-radius: 20px;
}

.btn-explore:hover{
    background-color: rgb(28, 255, 217) !important;
}

.btn-rectangle{
    background-color: #27DEBF !important;
}

.btn-rectangle:hover{
    background-color: rgb(28, 255, 217) !important;
}

.btn-white{
    background-color: #fff !important;
    color: #000;
}

.btn-white:hover{
    background-color: #000 !important;
    color: #fff;
}


/* button */

/* header section */
section.jumbotron-img{
background-color: #fff;
background-image: url('../img/Illustrator/Background.svg');
background-size:100%;
background-position: 50px -50px;
background-repeat: no-repeat;
height: 400px;
margin-top: -60px;
}

section.jumbotron-img .slogan h4{
    font-size: 4vw;
    font-weight: 400;
}
section.jumbotron-img .slogan h5{
    font-size: 4vw;
    font-weight: 700;
}


section.jumbotron-img .slogan{
    margin-top: 20vh;
    position: absolute;
}


@media only screen and (min-width: 600px) {
    section.jumbotron-img{
        background-position: 80px -150px;
        height: 500px;
    }

    section.jumbotron-img .slogan{
        margin-top: 30vh;
        position: absolute;
    }
}

@media only screen and (min-width: 992px) {
    section.jumbotron-img{
        background-position: 100px -150px;
        height: 900px;
    }

    section.jumbotron-img .slogan{
    margin-top: 40vh;
    position: absolute;
    }
}
/* end header section */

/* section designer */

@media only screen and (min-width: 600px) {
    section.designer{
        padding: 50px 0;
        height: 600px;
    }
}
section.designer .figure{
    position: relative;
}

section.designer .figure .oval{
    position: absolute;
    top: -81px;
    left: -81px;
    z-index: 2;
}

section.designer .figure .dot{
    position: absolute;
    right: -30px;
    top: -30px;
}

section.designer .img-designer{
    position: relative;
    width: 400px;
    height: 300px;
    z-index: 1;
}

section.designer .about-me ul li{
    margin-top: 20px;
}

section.designer .about-me h4.judul{
    font-size: 25px;
    font-weight: 700;
}



@media only screen and (min-width: 1200px) {
    section.designer .about-me ul li{
        margin-top: 20px;
        font-size: 20px;
    }
    
    section.designer .about-me h4.judul{
        font-size: 25px;
        font-weight: 700;
    }
    
}


/* section designer */


/* section services */
    section.services {
        padding:200px 0;
    }

    section.services .card{
        border: none;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.18);
        padding: 50px;
        font-size: 18px;
        font-weight:400;
    }

    section.services .card-1{
        width: 400px;
        height: 500px;
    }

    section.services .card-2{
        width: 600px;
        height: 250px;
    }
    
    section.services .card-1 .judul::after{
        content: '';
        border-bottom: dashed 5px #27DEBF;
        display: block;
        width:40%;
        border-spacing: 10px 10px;
        margin-top: 20px;
    }
    
    
    section.services .card-3{
        background-color: #27DEBF;
        color: #fff;
        width: 400px;
        height: 500px;
    }
    
    section.services .card .judul{
        font-size: 33px;
    }
/* section services */